<div class="modal inmodal" id="addInputModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span
          aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add {{title}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action={{url_for('Topics.j_add_topic')}} method="POST">
          <div class="form-group">
            <input name="name" class="form-control" placeholder="Enter name" required="">
          </div>
          <div class="form-group">
            <select name="source" class="form-control m-b">
              <option value="twitter" >Twitter</option>
              <option value="facebook">Facebook</option>
            </select>
          </div>
          <button type="submit" data-dismiss="modal" class="btn btn-primary block full-width m-b">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>