{% extends 'layout.html' %}
{% block title %}Client{% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Clients</h5>
            <div class="ibox-tools">
              <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addInputModal">Add client</a>
            </div>
          </div>
          <div class="ibox-content">
            <table id="topic" class="display" cellspacing="0">
        <thead>
            <tr>
                 <th>Name</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Client since</th>
                <th>Dues</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for d in data %}
            <tr>
                <td>{{ d['name'] }}</td>
                <td>{{ d['address'] }}</td>
                <td>{{ d['contact'] }}</td>
                <td>{{ d['created_at'] }}</td>
                <td>{{ d['dues'] }}</td>
                <form action="{{url_for('delete_client', id=d['client_id'])}}" method="post" id="form2">
                    <td><button onclick="delete_client()" class="btn btn-primary block full-width m-b"><i class="fa fa-trash-o"></i></button></td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal inmodal" id="addInputModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span
          aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add Client</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="form" action={{url_for('add_client')}} method="post">
          <div class="form-group">
            <input name="name" class="form-control" placeholder="Enter client name" required="">
          </div>
          <div class="form-group">
            <input name="address" class="form-control" placeholder="Enter client address" required="">
          </div>
            <div class="form-group">
            <input name="contact" class="form-control" placeholder="Enter Contact" required="">
          </div>
            <div class="form-group">
            <input name="discount" class="form-control" placeholder="Discount" required="">
          </div>
            <div class="form-group">
                <button onclick="form_submit()" type="submit" data-dismiss="modal" value="Submit" class="btn btn-primary block full-width m-b">Add</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--<app-add-input-modal title="Topic" (onAdd)="addTopic($event)"></app-add-input-modal>-->
{% endblock %}

{% block postscript %}
<script>
$(document).ready(function() {
    $('#topic').DataTable({
  "order": [[ 3, "desc" ]]
});
});

function form_submit() {
    document.getElementById("form").submit();
   }

function delete_client(){
    document.getElementById("form2").submit();
}
</script>
{% endblock %}