{% extends 'layout.html' %}
{% block title %}Client{% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Clients</h5>
            <div class="ibox-tools">
              <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addInputModal">Add Product</a>
            </div>
          </div>
          <div class="ibox-content">
            <table id="topic" class="display" cellspacing="0">
        <thead>
            <tr>
                 <th>Name</th>
                <th>Net Price</th>
                <th>Sales Price</th>
                <th>Distributor</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for d in data %}
            <tr>
                <td>{{ d['product'] }}</td>
                <td>{{ d['net_price']}}</td>
                <td>{{ d['sales_price']}}</td>
                <td>{{ d['distributor']}}</td>
                <td>{{ d['created_at']}}</td>
                <form action="{{url_for('delete_product', id=d['product_id'])}}" method="post" id="form2">
                    <td><button onclick="delete_product()" class="btn btn-primary block full-width m-b">Delete</button></td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal inmodal" id="addInputModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span
          aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add Product</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="form" action={{url_for('add_product')}} method="post">
          <div class="form-group">
            <input name="product" class="form-control" placeholder="Enter product name" required="">
          </div>
          <div class="form-group">
            <input name="price" class="form-control" placeholder="Enter product net price" required="">
          </div>
            <div class="form-group">
            <input name="sales_price" class="form-control" placeholder="Enter product sales price" required="">
          </div>
            <div class="form-group">
            <select id="distributor" name="distributor" class="select2_demo_1 form-control">
                <label> <option value="" name="distributor">----Select Distributor----</option></label>
                {% for distributor in distributor_data %}
                <label> <option value="{{distributor['name']}}" name="distributor"> {{distributor['name']}} </option></label>
                {% endfor %}
            </select>
          </div>
            <div class="form-group">
                <button onclick="form_submit()" type="submit" data-dismiss="modal" value="Submit" class="btn btn-primary block full-width m-b">Add</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--<app-add-input-modal title="Topic" (onAdd)="addTopic($event)"></app-add-input-modal>-->
{% endblock %}

{% block postscript %}
<script>
$(document).ready(function() {
    $('#topic').DataTable({
  "order": [[ 3, "desc" ]]
});
});

function form_submit() {
    document.getElementById("form").submit();
   }

function delete_product(){
    document.getElementById("form2").submit();
}
</script>
{% endblock %}