{% extends 'layout.html' %}
{% block title %}Sales{% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Purchase</h5>
            <div class="ibox-tools">
              <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#addInputModal">Add Purchase</a>
            </div>
          </div>
          <div class="ibox-content">
            <table id="topic" class="display" cellspacing="0">
        <thead>
            <tr>
                 <th>Product</th>
                <th>Distributor</th>
                <th>Date</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Paid</th>
                <th>Outstanding</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for d in data %}
            <tr>
                <td>{{ d['product'] }}</td>
                <td>{{ d['distributor']}}</td>
                <td>{{ d['created_at']}}</td>
                <td>{{ d['quantity']}}</td>
                <td>{{ d['total']}}</td>
                <td>{{ d['paid']}}</td>
                <td>{{ d['remaining']}}</td>
                <form action="{{url_for('delete_purchase', id=d['record_id'])}}" method="post" id="form2">
                    <td><button onclick="delete_purchase()" class="btn btn-primary block full-width m-b"><i class="fa fa-trash-o"></i></button></td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal inmodal" id="addInputModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span
          aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add Purchase</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="form" action={{url_for('add_purchase')}} method="post">
          <div class="form-group">
            <select id="product" name="product" class="select2_demo_1 form-control">
                <label> <option value="" name="product"> ----Select Product---- </option></label><br>
                {% for product in product_data %}
                <label> <option value="{{product['product']}},{{product['net_price']}}" name="fontsize"> {{product['product']}} </option></label>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <select id="client" name="client" class="select2_demo_1 form-control">
                <label> <option value="" name="client">----Select Distributor----</option></label>
                {% for client in distributor_data %}
                <label> <option value="{{client['distributor_id']}},{{client['name']}}" name="client"> {{client['name']}} </option></label>
                {% endfor %}
            </select>
          </div>
            <div class="form-group">
            <input name="quantity" class="form-control" placeholder="Enter quantity" required="">
          </div>
            <div class="form-group">
            <input name="paid" class="form-control" placeholder="Amount Paid" required="">
          </div>
            <div class="form-group">
            <input type="date" name="date" class="form-control" placeholder="Enter Date" required="">
          </div>
            <div class="form-group">
                <button onclick="form_submit()" type="submit" data-dismiss="modal" value="Submit" class="btn btn-primary block full-width m-b">Add</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--<app-add-input-modal title="Topic" (onAdd)="addTopic($event)"></app-add-input-modal>-->
{% endblock %}

{% block postscript %}
<script>
$(document).ready(function() {
    $('#topic').DataTable({
  "order": [[ 2, "desc" ]]
});
});

function form_submit() {
    document.getElementById("form").submit();
   }

function delete_purchase(){
    document.getElementById("form2").submit();
}
</script>
{% endblock %}